<div class="pure-u-5-24 navbar debug">

  <li class="cssmenu back-button"><span> <a href="/users/<%= current_user.id %>">
    back to menu
  </a></span></li>
  <li class="cssmenu">
    <h2> My hikes </h2>
  </li>
  <% @trails.each do |trail| %>

  <li class="cssmenu trailtitle"><span><a>
    <b><%= trail.title %></b> <br>
    <%= reverse_geocode(trail.trailhead_lat, trail.trailhead_lon) %>
  </a></span></li>
  <% end %>
</div>


<div class="pure-u-19-24 debug">
  <div class="map" id="user-map"></div>
</div>

