// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar-frame,.avatar-frame img{
  margin: auto;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 80px; /* Saf3+, Chrome */
  border-radius: 80px; /* Opera 10.5, IE 9 */
  /*-moz-border-radius: 80px;  Disabled for FF1+ */
  }