<div class="grid-container debug">
      <div class="pur-u-5-24 navbar debug">
         <li id="cssmenu"><a href='#'><span>BUTTON1</span></a></li>
         <li id="cssmenu"><a href='#'><span>BUTTON2</span></a></li>
         <li id="cssmenu"><a href='#'><span>BUTTON3</span></a></li>
         <li id="cssmenu"><a href='#'><span>BUTTON4</span></a></li>
      </div>

      <div class="pure-u-19-24 debug">
        <!-- MAP GOES HERE -->

      </div>
  </div>