<li class="cssmenu back-button">
  <span>
    <a href="/users/<%= current_user.id %>">
      back to menu
    </a>
  </span>
</li>

<li class="cssmenu">
  <h2> <%= @user.firstname %>'s hikes </h2>
</li>

<%= render 'trails/index' %>

